<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Disney+ | Tus historias favoritas, todas en un mismo lugar.</title>
  <link rel="icon" href="resources/img/favicon.ico">
  <link rel="stylesheet" href="resources/css/style.css">
  <link rel="stylesheet" href="resources/css/normalize.css">
</head>

<body>
  <header>
    <div class="icono">
      <a href=""><img src="resources/img/logo.jpg" alt=""></a>
    </div>
    <div class="form">
      <a class="link-sus"><div class="suscribite">
       Suscribite ahora
      </div></a>
      <a class="link-sesion"><div class="ingreso">
        Iniciar sesión
      </div></a>
    </div>
  </header>

  <section class="loader-cont"><div class="loader"></div></section>
  <section class="loader-cierre"></section>
  <section class="fondo">
    <div class="contenedor">
      <span>Tus historias favoritas, todas en un mismo lugar.</span>
      <img src="resources/img/logo.jpg" alt="">
      <a class="link-sus">
        <h2>suscribite ahora</h2>
      </a>
    </div>
  </section>

  <section class="planes">
    <div>
      <h2>Elegí tu plan</h2>
    </div>
    <div class="cajas">
      <div class="caja">
        <img src="resources/img/dis.jpg" alt="">
        <h3>ARS 149/mes (final)*</h3>
        <p>En Disney+ vas a encontrar los últimos estrenos del cine, originales y clásicos inolvidables.</p>
        <a class="link-sus">suscribite ahora</a>
      </div>
      <div class="caja caja1">
        <img src="resources/img/d+s.jpg" alt="">
        <h3>ARS 995/mes (final)*</h3>
        <p>Contratá Disney+ y Star+ juntos. Ahorrá y disfrutá ahora los dos servicios por un precio único.</p>
        <a class="link-sus">suscribite ahora</a>
      </div>
      <div class="caja">
        <img src="resources/img/d+s+s.jpg" alt="">
        <h3>ARS 1.150/mes (final)*</h3>
        <p>Disney+, Star+ y STARZPLAY en un único plan. Comprá ahora los tres servicios juntos.</p>
        <a class="link-sus">suscribite ahora</a>
      </div>
    </div>
    <p>* El precio podría variar en caso de que el pago se realice en otras plataformas. Podrían aplicar cargos de
      terceros.</p>
  </section>

  <section class="info">
    <img src="resources/img/familia.jpg" alt="">
    <div>
      <h2>Cuando quieras, donde quieras</h2>
      <p>Disfrutalo en tu pantalla favorita, ya sea tu TV, tableta, computadora, teléfono y otros. Viví una experiencia
        única con una amplia selección de títulos en 4K. Además, podés ver en cuatro pantallas en simultáneo para que
        nadie se quede afuera.</p>
    </div>
  </section>
  <section class="contenido">
    <h2>Originales Disney+ exclusivos</h2>
    <h3>Disfrutá de películas, series y documentales nunca antes vistos. Solo en Disney+.</h3>
    <section class="franquicias">
      <div class="franquicias-cont">
          <img src="resources/img/disney/disney-txt.png" class="franquicia-img">
          <img src="resources/img/disney/disney.gif" class="franquicia-img hover-img">
      </div>
      <div class="franquicias-cont">
          <img src="resources/img/disney/pixar-txt.png" class="franquicia-img">
          <img src="resources/img/disney/pixar.gif" class="franquicia-img hover-img">
      </div>
      <div class="franquicias-cont">
          <img src="resources/img/disney/marvel-txt.png" class="franquicia-img">
          <img src="resources/img/disney/marvel.gif" class="franquicia-img hover-img">
      </div>
      <div class="franquicias-cont">
          <img src="resources/img/disney/star-txt.png" class="franquicia-img">
          <img src="resources/img/disney/starwars (1).gif" class="franquicia-img hover-img">
      </div>
      <div class="franquicias-cont">
          <img src="resources/img/disney/national-txt.png" class="franquicia-img">
          <img src="resources/img/disney/national.gif" class="franquicia-img hover-img">
      </div>
    </section>
    <div class="pelis">
      <div class="peli">
          <img src="resources/img/peli1.jpg" alt="">
      </div>
      <div class="peli">
          <img src="resources/img/peli2.jpg" alt="">
      </div>
      <div class="peli">
          <img src="resources/img/peli3.jpg" alt="">
      </div>
      <div class="peli">
          <img src="resources/img/peli4.jpg" alt="">
      </div>
      <div class="peli">
          <img src="resources/img/peli5.jpg" alt="">
      </div>
      <div class="peli">
          <img src="resources/img/peli6.jpg" alt="">
      </div>
      <div class="peli">
          <img src="resources/img/peli7.jpg" alt="">
      </div>
      <div class="peli">
          <img src="resources/img/peli8.jpg" alt="">
      </div>
      <div class="peli">
          <img src="resources/img/peli9.jpg" alt="">
      </div>
      <div class="peli">
          <img src="resources/img/peli10.jpg" alt="">
      </div>
      <div class="peli">
          <img src="resources/img/peli11.jpg" alt="">
      </div>
      <div class="peli">
          <img src="resources/img/peli12.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="mass">
    <div class="img">
      <video src="resources/img/starswars.mp4" autoplay muted loop></video>
    </div>
    <div class="mass-cont">
      <h3>Descargá series y películas</h3>
      <p>Descargas ilimitadas para ver lo que quieras, cuando quieras. Llevá tus historias favoritas siempre con vos,
        incluso sin conexión.</p>
    </div>
  </section>

  <section class="dispositivos">
    <h2>Disponible en tus dispositivos favoritos</h2>
    <div class="cajas">
      <div class="caja">
        <img src="resources/img/pc.jpg" alt="">
        <h4>Computadoras</h4>
        <p>Chrome OS<br>MacOS<br>PC Windows<br></p>
      </div>
      <div class="caja">
        <img src="resources/img/tx.jpg" alt="">
        <h4>TV</h4>
        <p>Amazon Fire TV<br>Android TV<br>Apple TV<br>Chromecast<br>LG<br>Roku<br>Samsung</p>
      </div>
      <div class="caja">
        <img src="resources/img/ps4.jpg" alt="">
        <h4>Consolas</h4>
        <p>PS4<br>PS5<br>Xbox One<br>Xbox Series X<br>Xbox Series S</p>
      </div>
      <div class="caja">
        <img src="resources/img/celu.jpg" alt="">
        <h4>Celulares y tabletas</h4>
        <p>Tabletas Amazon Fire<br>Celulares y tabletas Android<br>iPhone y iPad</p>
      </div>
    </div>
  </section>

  <section class="preguntas">
    <h2>Preguntas frecuentes</h2>
    <div class="acordion">
      <div class="caja">
        <div class="label"><span>¿Qué incluye Disney+?</span></div>
        <div class="despliegue">
          <p>Beneficios de la suscripción a Disney+:<br>
            • Experiencia prémium sin cortes comerciales.<br>
            • Las mejores historias de Disney, Pixar, Marvel, Star Wars y National Geographic, todo en un mismo
            lugar.<br>
            • Groupwatch: compartí tus historias favoritas, aunque estés lejos.<br>
            • Descargas ilimitadas hasta en diez dispositivos compatibles.<br>
            • Más de 300 títulos en 4K UHD y HDR.<br>
            • Hasta cuatro pantallas a la vez: ¡disfrutan todos!<br>
            • IMAX Enhanced: disponible en algunos títulos de Marvel y en todos los dispositivos compatibles con
            Disney+.
          </p>
        </div>
      </div>
      <div class="caja">
        <div class="label"><span>¿Ya tenés Disney+ o Star+ y querés Combo+?</span></div>
        <div class="despliegue">
          <p>
            Con Combo+:<br>
            • Descontaremos el valor de tu suscripción actual del precio de Combo+. (¡Sí, para el plan anual
            también!).<br>
            • Si tenés una suscripción mensual, el valor que pagás mensualmente se descontará del precio final de
            Combo+.<br>
            • Si tenés una suscripción anual, dividiremos el precio que pagaste en 12 partes iguales y descontaremos ese
            precio mensualmente del precio final de Combo+.<br>
            • Te llegará un correo electrónico con el detalle de los cargos apenas confirmes el pago.<br>
            • Recordá que podés cancelar en cualquier momento.<br>
            La suscripción a Combo+ es únicamente mensual, por el momento.
          </p>
        </div>
      </div>
      <div class="caja">
        <div class="label"><span>¿Qué métodos de pago puedo usar?</span></div>
        <div class="despliegue">
          <p>Podés pagar con tarjeta de crédito, débito, Mercado Pago e incluso a través de terceros y proveedores
            locales
            de servicio. No es obligatorio tener tarjeta bancaria.</p>
        </div>
      </div>
      <div class="caja">
        <div class="label"><span>¿Cómo puedo ver el contenido 16+ y 18+?</span></div>
        <div class="despliegue">
          <p>Con una suscripción a Disney+ en Latinoamérica, tenés que actualizar los controles parentales de tu perfil
            para acceder al catálogo completo que incluye contenido 16+ y 18+. Podés restringir el contenido así como
            agregar un PIN de bloqueo en cada perfil. También podés dejar los controles parentales como están y seguir
            disfrutando Disney+ en un ambiente 14+ con la opción de modificarlos cuando quieras en Editar perfiles.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="creditos">
    <img src="resources/img/creditos.jpg" alt="">
  </section>


  <script src="resources/js/inicio.js"></script>
</body>

</html>