@font-face {
  font-family: disney;
  src: url(../letra/avenir_roman_12.woff);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: disney;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #1a1d29;
}

.loader-cierre {
  position: fixed;
  top: -100vh;
  z-index: 100;
  transition: .5s ease-in-out;
  width: 100%;
  height: 100vh;
  background: #000;
}

.loader-cierre.active {
  transform: translateY(100vh);
}

.loader-cont {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 100;
  animation: 1s bajada ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes bajada {
  0% {}

  100% {
      transform: translateY(-100vh);
  }
}

.loader-cont .loader {
  height: 50px;
  width: 50px;
  background: url(../img/loader2.jpg);
  background-size: cover;
  animation: 1s loader linear;
  animation-iteration-count: 5;
}

@keyframes loader {
  0% {}

  100% {
      transform: rotate(360deg);
  }
}

.container {
  width: 355px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f9f9f9;
  margin-top: 15px;
}

.container img {
  width: 55%;
  margin-bottom: 5px;
  margin-left: 20%;
  cursor: pointer;
}

.container .title {
  font-weight: 800;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 29px;
  margin-bottom: 15px;
}

.container .p {
  color: #c0c0c0;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.container .form-outer {
  width: 100%;
  overflow: hidden;
}

.container .form-outer form {
  display: flex;
  width: 400%;
}

.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}

.correo {
  backdrop-filter: blur(50px);
  background-color: rgb(49, 52, 62);
  outline: none;
  width: 100%;
  border-radius: 4px;
  padding: 15px 8px;
  font-size: 15px;
  line-height: 24px;
  color: #f9f9f9;
  border: 0;
  margin-bottom: 20px;
}

.caja {
  width: 100%;
  backdrop-filter: blur(50px);
  background-color: rgb(49, 52, 62);
  padding: 8px;
  border-radius: 8px;
  color: #c0c0c0;
  margin-bottom: 15px;
}

.caja p {
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 10px;
}

 .caja a {
  text-decoration: underline;
  color: #66bcff;
}

.boton2 {
  border: 0;
  width: 100%;
  background: #0063e5;
  font-weight: 900;
  padding: 15px 5px;
  letter-spacing: 1px;
  border-radius: 4px;
  color: #f9f9f9;
  text-transform: uppercase;
  transition: .3s;
  cursor: pointer;
}

 .boton2:hover {
  background: #2a86ff;
}

.a {
  color: #c0c0c0;
  margin-top: 20px;
  margin-left: 36%;
  text-align: center;
  transition: .2s;
  font-weight: 900;
  cursor: pointer;
}

.a:hover {
  color: #f9f9f9;
}

.contrato {
  width: 100%;
  border: 1px solid rgba(249, 249, 249, 0.3);
  border-radius: 4px;
  font-size: 12px;
  line-height: 18px;
  padding: 17px;
  height: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.contrato::-webkit-scrollbar {
  width: 15px;
}

.contrato::-webkit-scrollbar-track {
  background: #1a1d29;
}

.contrato::-webkit-scrollbar-thumb {
  background: #fff;
  border: 1px solid #c0c0c0;
  backdrop-filter: blur(10px);
}

.p2 {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #c0c0c0;
  margin-bottom: 16px;
}

.moscorreo {
  padding-left: 14px;
  border-left: 2.5px solid #c0c0c0;
  margin: 20px 0 40px;
}

.moscorreo span {
  font-size: 20px;
}

.revision {
  padding: 14px;
  border-radius: 4px;
  border: 2px solid rgba(249, 249, 249, 0.1);
  width: 100%;
  margin-bottom: 10px;
}

.revision div{
  border-bottom: 2px solid rgba(249, 249, 249, 0.1);
  display: flex;
  justify-content: space-around;
  margin-bottom: 14px;
  color: #c0c0c0;
}

.revision div img {
  width: 35%;
  height: auto;
  border: 2px solid rgba(249, 249, 249, 0.1);
  margin-bottom: 14px;
  border-radius: 2px;
  margin-left: -8px;
}

.revision div p{
  font-size: 13px;
  font-weight: 18px;
  width: 60%;
}

.revision p {
  font-size: 13px;
  font-weight: 16px;
  line-height: 18px;
}

.container .progress-bar {
  display: flex;
  margin: 40px 0;
  user-select: none;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
  display: none;
}
