<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="resources/img/favicon.ico">
    <link rel="stylesheet" href="resources/css/style2.css">
    <link rel="stylesheet" href="resources/css/normalize.css">
</head>

<body>
    <header>
        <div class="icono">
        </div>
        <div class="form">
            <div class="ingreso">
                <a>volver</a>
            </div>
        </div>
    </header>
    <section class="loader-cont"><div class="loader"></div></section>
    <section class="loader-cierre"></section>
    <div class="interfaz"></div>
    <section class="ala">
        <div class="info">
            <img src="resources/img/pelis/alaLogo.jpg" alt="">
            <h4>1992 | 1h 34min | <b>0+</b> | Familiar</h4>
            <p>El astuto Aladdín y la princesa Jasmín intentarán salvar al reino del malvado brujo Jafar. En el camino,
                Aladdín aprende a creer en sí mismo con la ayuda de un Genio desopilante... y tres deseos que pueden
                cambiarlo todo.</p>
            <div><span id="abrir">pelicula</span></div>
        </div>
        <div class="trailer">
            <iframe id="loaderPlay" src="https://players.repelishd.me/embed/tmdb/812" allowfullscreen="" scrolling="no" frameborder="0"></iframe>
            <img src="resources/img/xmark-solid.svg" id="cerrar" alt="">
        </div>
    </section>
    <script src="resources/js/funcion.js"></script>
</body>